.hall {
  background: rgba(241, 235, 230, 0.95);
  border-radius: 2px;
}

.hall_title {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.hall_title__bold {
  font-weight: 700;
}

.hall_title__light {
  font-weight: 300;
}

.hall_schema_bg {
  padding: 15px 0;
  background: rgba(23, 29, 36, 1);
  color: white;
  display: flex;
  justify-content: center;
}

.hall_schema {
  /* margin: 0 auto; */
  /* width: 268px; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.hall_schema__screen {
  max-width: 300px;
}

.hall_schema__screen img {
  width: 100%;
}

.hall_booking {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.hall_booking__button {
  background: rgba(22, 166, 175, 1);
  color: white;
  padding: 12px 56px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  user-select: none;
}

.hall_booking__button:hover {
  transform: scale(105%);
}

.hall_booking__button:active {
  transform: scale(100%);
}

.hall_legend {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 10px;
}

.hall_seat_legend {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.hall_seat {
  height: 20px;
  width: 20px;
  background-color: aliceblue;
  border: 1px solid rgba(82, 82, 82, 1);
  border-radius: 4px;
  cursor: pointer;
}

.hall_seat_vip {
  background: rgba(249, 149, 58, 1);
}

.hall_seat_taken {
  background-color: black;
}

.hall_seat_disabled {
  background: rgba(23, 29, 36, 1);
  border: none;
}

.hall_seat_selected {
  background: rgba(37, 196, 206, 1);
  box-shadow: 0px 0px 4px 0px rgba(22, 166, 175, 1);
}

.hall_seat_title {
  font-size: 14px;
  font-weight: 300;
  user-select: none;
}

.hall_selection_seats {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.hall_selection_seats_row {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 4px;
}