.updown * {cursor: pointer;}

.updown {
  position: relative;
  display: flex;
  background-color: rgba(99, 83, 108, 1);
  padding: 26px 40px 26px 104px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.updown_description {
  font-size: 22px;
  font-weight: 700;
}

.updown_img_rotate {
  transform: rotate(180deg);
}

.updown_display_none {
  display: none;
}

.updown_circle {
  position: absolute;
  background-color: white;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid rgba(188, 149, 214, 1);
  top: 50%;
  left: 62px;
  transform: translate(-50%, -50%);
}

.updown_line {
  position: absolute;
  background-color: rgba(188, 149, 214, 1);
  width: 2px;
  top: 50%;
  bottom: 0;
  left: 62px;
  transform: translate(-50%, 0);
}

@media (max-width: 391px) {
  .updown {
    padding: 26px 20px 26px 65px;
  }

  .updown_circle {
    width: 22px;
    height: 22px;
    left: 31px;
  }

  .updown_line {
    display: none;
  }
}