.admin_form_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.admin_form_header {
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding: 16px 0px;
  background: rgba(99, 83, 108, 1);
  text-align: center;
}

.admin_form {
  background: rgba(234, 233, 235, 0.95);
  padding: 35px 100px;
}

.admin_form_fields {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.admin_form_description {
  font-size: 12px;
  color: rgba(132, 132, 132, 1);
}

.admin_form_input {
  width: 100%;
  padding: 9px;
  box-sizing: border-box;
}

.admin_form_buttons {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  justify-content: center;
}

.admin_form_button {
  border: none;
  padding: 12px 32px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  cursor: pointer;
}

.admin_form_button_submit {
  background-color: rgba(22, 166, 175, 1);
  color: white;
}

.admin_form_button:hover {
  transform: scale(105%);
}

.admin_form_button:active {
  transform: scale(100%);
}

@media (max-width: 769px) {
  .admin_form_container {
    width: 100%;
  }

  .admin_form {
    padding: 35px 8px;
  }
}

@media (max-width: 391px) {
  .admin_form_buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 14px;
  }
}